@import url('https://fonts.googleapis.com/css2?family=Inter+Tight:ital,wght@0,100..900;1,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Zilla+Slab:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap');

header {
    background-color: #F55A5A;
    color: white;
    margin: 0;
}

header > nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    font-size: 3rem;
    padding-top: 20px;
    padding-bottom: 20px;
}

nav > span{
    font-family: "Zilla Slab", Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: 400;
}

nav > img {
    width: 50px;
    height: 75px;
}